.vg{
    filter: drop-shadow(0 40px 10px rgba(0,0,0,0.3));
    animation: vecto 1s infinite ease-in-out alternate;
  }
  @keyframes vecto {
    to{
      transform: translateY(-10px);
    }
  }

  .carditem{
    animation: vg 1s infinite ease-in-out alternate;
  }

  @keyframes vg {
    to{
      transform: translateY(10px);
    }
  }